<div class="simple-page-spacer pd-header"></div>
<div class="container post-simple-title-wrap">
    <h1 class="post-simple-title"><%= page.title %></h1>
</div>
<script>
    document.body.classList.add('no-cover-page');
</script>
